.contents, .title{
    font-family: 'Single Day', cursive;
}
.center{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.phototitle{
    font-family: 'Courier New', Courier, monospace;
}